.idea/
node_modules/
www/assets/
www/connectors/
www/manager/
www/config.core.php
www/index.php
www/.htaccess
www/setup/
www/start_config/
www/core/cache/
www/core/components/
www/core/config/
www/core/docs/
www/core/error/
www/core/export/
www/core/import/
www/core/lexicon/
www/core/model/
www/core/packages/
www/core/xpdo/
www/core/.htaccess
