.side-lines {
  display: flex;
  width: 100%;
  align-items: center;
}

.side-lines::before,
.side-lines::after {
  content: '';
  @apply bg-gray-400;
  height: 1px;
  flex: 1;
}

.side-lines::before {
  margin-right: .4em;
}

.side-lines::after {
  margin-left: .4em;
}

.side-line-right {
  display: flex;
  width: 100%;
  align-items: center;
}

.side-line-right::after {
  content: '';
  @apply bg-gray-400;
  height: 1px;
  flex: 1;
  margin-left: .4em;
}

.side-line-left {
  display: flex;
  width: 100%;
  align-items: center;
}

.side-line-left::before {
  content: '';
  @apply bg-gray-400;
  height: 1px;
  flex: 1;
  margin-right: .4em;
}
