.ui-select {
  position: relative;
  display: flex;
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  border-radius: .25em;
  @apply bg-gray-200 w-full;
}

.ui-select select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  cursor: pointer;
  @apply bg-gray-200 text-black text-lg pl-4;
}

.ui-select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 .6em;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
  @apply bg-gray-300 text-gray-700 text-xs h-full inline-flex justify-center items-center;
}

.ui-select:hover::after {
  @apply text-primary;
}
