{extends 'file:templates/layout.html'}

{block 'content'}
<header class="container outside-container py-4 mb-4 bg-primary flex flex-wrap justify-between">
  <div class="text-2xl text-white">Company</div>
</header>
<main class="container">
  {include 'file:chunks/utils/_breadcrumbs.html'}

  <button class="btn icon icon-folder-open icon-color-error">{$_modx->resource.pagetitle}</button>
  {'pdoResources'|snippet:[
  'parents'=>0,
  'tpl'=>'@INLINE <h1>{$pagetitle}</h1>'
  ]}
  <img src="assets/img/apple.jpg" alt="" width="1000">
</main>
<footer class="container outside-container bg-gray-800 text-white py-6">
  <small class="block text-center">&copy; Company {''|date_format:'%Y-%m'}</small>
</footer>
{/block}
